{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <h2>Produits de la catégorie : {{ pagination.items[0].category }}</h2>

        {% include 'partials/loop-products-paginated.html.twig' %}

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </main>
{% endblock %}